#aian-features {
  padding: 3em 0 7em 0;
  clear: both;
  position: relative;
  background: #27292c;

  @media screen and (max-width: $screen-sm) {
    padding: 3em 0;
  }
  @media screen and (max-width: $screen-sm) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.feature {
  width: 100%;
  float: left;
  // margin-top: 3em;
  margin-bottom: 5em;

  &:last-child {
    margin-bottom: 0;
  }

  .desc {
    padding-top: 30px;
    text-align: right;

    &.left {
      text-align: left;

      li {
        text-align: left;
      }
      ul {
        float: left;
      }
    }

    h3 {
      color: $brand-white;
      font-size: 20px;
      text-transform: uppercase;
      padding-bottom: 6px;
      border-bottom: 2px solid $brand-primary;
    }

    ul {
      max-width: 350px;
      float: right;
    }

    li {
      color: rgba($brand-white, .8);
      line-height: 1.3em;
      margin: 0 0 30px 0;
      text-align: right;
      // margin-bottom: 6px;
      span {
        text-transform: uppercase;
        font-size: 14px;
        color: white;
        padding: 4px;
        background-color: $brand-primary;
        display: inline-block;
        margin: 2px 0;
        line-height: 1em;
      }
    }

    .aian-logo {
      margin-right: 10px;
      display: inline-block;
      height: 20px;
      width: 88px;
    }

    > div {
      margin-bottom: 40px;
    }
  }

  .feature-img {
    &.left {
      background-repeat: no-repeat;
      background-position: center center;
      height: 0;
      padding-top: 34%;
    }

    &.right {
      background-repeat: no-repeat;
      background-position: center center;
      // background-size: auto 700px;
      height: 0;
      padding-top: 34%;
    }
  }

  .feature-snap {
    height: 100%;
    // margin-top: 148px;
    // margin-left: 243px;
    background-repeat: no-repeat;
    // background-size: auto 750px;
  }

  // .col-md-9 {
  //   height: 0;
  //   // background-size: auto 200px;
  //   background-repeat: no-repeat;
  //   background-position: center center;
  //   background-size: contain;
  //   padding-top: 54%;
  //   // height: 500px;
  //   .feature-snap {
  //     height: 100%;
  //     background-repeat: no-repeat;
  //     background-position: 0;
  //     background-size: cover;
  //   }
  // }
}