.dashboard {
  float: left;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  min-height: 100%;
  top: 0;

  .main {
    float: left;
    width: 100%;
    position: absolute;
    background: #EDEFF0;
    top: 0;
    min-height: 100%;
    color: $brand-darker;
  }
}

.dash {
  color: $brand-darker;
  width: 100%;
  zoom: 1;
  padding-top: 10px;
  padding-left: 150px;
  min-height: 100%;
  position: absolute;

  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .navbar {
    min-height: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba($brand-white, .3);
    border-radius: 0;
  }

  .header {

    .breadcrumb {
      border-radius: 0;
      padding: 0;
      background: none;
      margin: 0;
    }

    .dropdown {
      display: inline-block;
    }

    .btn {
      border: none;
      background: none;
      padding: 0;

      &:hover {
        color: $brand-white;
      }
    }
  }

  .block {
    float: left;
    width: 100%;
    padding: 0px;
    margin-bottom: 15px;
    background: #FFF;
    border: 1px solid #DBE0E4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    .block-heading {
      padding: 20px 20px 15px;
      margin-top: 0;
      margin-bottom: 15px;
      float: left;
      width: 100%;

      .title {
        float: left;
        h2 {
          margin: 0 0 5px;
          padding: 0;
          float: left;
          font-size: 15px;
          line-height: 20px;
          font-weight: 600;
          clear: both;
          color: #1B2431;
        }

        p {
          float: left;
          clear: both;
          margin-bottom: 0;
          font-weight: 400;
          line-height: 15px;
          margin-top: 0;
          color: #7F8FA4;
        }
      }

      .heading-elements {
        float: right;
        position: relative;
      }
    }

    .block-content {
      padding: 0 20px;
      float: left;
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .widget {
    float: left;
    width: 100%;
    padding: 10px 15px;
    min-width: 90px;
    background: #FFF;
    border: 1px solid #DBE0E4;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    zoom: 1;

    .links {
      li {
        line-height: 1em;
      }
      a {
        font-size: 14px;
      }
    }
    .title,
    .mtitle,
    .subtitle {
      color: #1B2431;
      font-size: 11px;
      font-weight: 600;
      float: left;
      text-transform: uppercase;
    }

    .mtitle {
      width: 100px;
    }

    .subtitle {
      color: #7F8FA4;
    }

    .line {
      float: left;
      width: 100%;
    }

    .val,
    .mval {
      font-size: 27px;
      line-height: 50px;
      font-weight: 600;
      text-align: center;
      float: left;
      width: 100%;
    }
    .mval {
      text-align: left;
      max-width: 100px;
    }
  }
}