.aian-logo {
  text-transform: lowercase;
  color: $brand-white;
  font-size: 32px;
  font-family: Titillium Web;
  span {
    font-family: Yellowtail;
    color: $brand-primary;
    font-size: 44px;
    line-height: 44px;
  }
}